.group {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  color: var(--htb-green);
  margin-bottom: 8px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #333;
  border-left: 2px solid #333; /* Default state */
  color: var(--text-main);
  font-family: var(--font-family);
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

/* The Active State */
.input:focus {
  border-color: var(--aws-orange);
  border-left-width: 5px; /* Thicker accent on focus */
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: -5px 0 15px rgba(255, 153, 0, 0.1); /* Side glow */
}

.errorInput {
  border-color: #ff4444;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.errorText {
  color: #ff4444;
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: bold;
}